<IfModule mod_rewrite.c>
  RewriteEngine On

  # If request is NOT for an actual file or directory
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Do NOT rewrite API calls, let Node handle them
  RewriteCond %{REQUEST_URI} !^/api

  # Rewrite everything else to index.html (for React Router)
  RewriteRule ^ index.html [L]
</IfModule>
